* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(/img/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#telaMosquito {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background: #cccccc46;
    width: calc(100% - 250px);
    height: calc(100% - 100px);
    border: 0.5em solid #cccccc91;
}

.painel {
    position: absolute;
    width: 180px;
    padding: 10px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.tela_pontuacao {
    position: absolute;
    width: 180px;
    padding: 10px;
    top: 70px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.pontosVida {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.cronometro {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.mosquito1 {
    width: 50px;
    height: 50px;
}
.mosquito2 {
    width: 30px;
    height: 30px;
}
.mosquito3 {
    width: 70px;
    height: 70px;
}

.ladoA {
    transform: scaleX(1);
}
.ladoB {
    transform: scaleX(-1);
}